# git ignore config
*.iml
.idea/
target/
*.data
*.spark.png
DUMP_CLASS_FILES
*.diff
*.log
*.parquet/
tmp/
tmp_parquet/
tmp_sequence/
tmp_json/
binary_list

.vscode/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.out
*.a
*.o
*.so
build/

